<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>index</title>
</head>
<body>
   

<h3>List of squads</h3>

<ul>
<%   @squads.each do |squad|   %>
<li>Name: <%= squad["name_sq"] %>     

- <a href="/squads/<%= squad["id_sq"] %>/students ">Students</a> 
- <a href="/squads/<%= squad["id_sq"] %> ">Show</a> 
- <a href="/squads/<%= squad["id_sq"] %>/edit">Edit</a> </li>
<% end %>
</ul>





<p>
   <a href="/squads/new">Add new Squad</a> 

</p>

</body>
</html>