<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
   


<h3>"Empty Squad. Please add new students"</h3>


<form action="/squads/<%= @id_sq.to_i %>/newstudent">
   <input type="submit" value="Add new student">
</form>

<form action="/squads">
   <input type="submit" value="Squads List">
</form>

</body>
</html>