<%= erb :'partials/_header' %>
<body>
   
<div class="col-xs-5">
<div class="panel panel-primary editSquad">
  <div class="panel-heading">
    <h3 class="panel-title">"Empty Squad. Please add new students"</h3>
  </div>
  <div class="panel-body">
     
<div class="col-xs-5">
      <form action="/squads/<%= @id_sq.to_i %>/newstudent">
         <input type="submit" value="Add new student" class="btn btn-success">
      </form>
</div>
<div class="col-xs-4">
      <form action="/squads">
         <input type="submit" value="Squads List" class="btn btn-warning">
      </form>
</div>

      </div>
   </div>
</div>


</body>
</html>