
<%= erb :'partials/_header' %>

<body>
<div class="col-xs-5">
<div class="panel panel-primary editSquad">
  <div class="panel-heading">
    <h3 class="panel-title">Add new Squad</h3>
  </div>
  <div class="panel-body">


<form action="/squads" method="POST">
   <label for="name">New squad name:</label>
   <input type="text" name="name" autofocus class="form-control">
   <label for="mascot">Mascot name:</label>
   <input type="text" name="mascot" class="form-control"><br>
   <input type="submit" value="Add squad" class="btn btn-success">
</form>
<br>
<form action="/squads">
   <input type="submit" value="Squads List" class="btn btn-warning">
</form>

</div>

</div>

</body>
</html>