<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>New</title>
</head>
<body>
   

<form action="/squads" method="POST">
   <label for="name">New squad name:</label>
   <input type="text" name="name" autofocus>
   <label for="mascot">Mascot name:</label>
   <input type="text" name="mascot">
   <input type="submit" value="add">
</form>


</body>
</html>