<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Show</title>
</head>
<body>
   
<h3>Show this squad</h3>

<h3>Squad: <%= @squad["name"] %> - Mascot: <%= @squad["mascot"] %></h3>

<form action="/squads">
   <input type="submit" value="Squads List">
</form>


</body>
</html>