<%= erb :'partials/_header' %>
<body>
   
<div class="col-xs-5">
<div class="panel panel-primary editSquad">
  <div class="panel-heading">
    <h3 class="panel-title">Squad: <%= @squad["name_sq"] %></h3>
  </div>
  <div class="panel-body">
      <h3>Mascot: <%= @squad["mascot"] %></h3>
      <br>
      <form action="/squads">
         <input type="submit" value="Squads List" class="btn btn-warning">
      </form>
  </div>
</div>

</body>
</html>