/*---SHARED---*/
.panel {
margin-top: 30px;
}

body {
   background-image: url("/img/XKXAHFY.png");
}

/*---INDEX---*/

.list-group {
   width: 500px;
   margin-left: 50px;
   margin-top: 100px;
   text-align: center;
   
}

.namesquad {
   text-align: left;
}


.table-striped {
   background-color: rgba(240,240,240,0.9);
}


/*---EDIT SQ---*/

.test{
   width: 100px;
   height: 100px;
   background-color: blue;
   
}

